.countdown__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    background: var(--gradient-bg);
}

.countdown__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 5vh;
    font-size: 1.5rem;
}

.countdown__left__status,
.countdown__right__button {
    width: 50%;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 1rem;
}

.countdown__left__status {
    justify-content: flex-start;
}

.countdown__right__button {
    justify-content: flex-end;
}

.countdown__score {
    width: 15%;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 1rem;
    justify-content: center;
}

.countdown__quesion__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    font-size: 3rem;
    margin-top: 3vh;
    color: #ffffff;
    font-weight: bold;
    /* border: 1px solid; */
}

.countdown__answer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border: 1px solid; */
}

.countdown__numpad__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    margin-top: 8vh;
    margin-bottom: 2vh;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
}

.numpad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 13vh;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}

.numpad:active {
    background: #f4f4f42e;
}

.countdown__answer__input {
    height: 100%;
    width: 90%;
    font-size: 3rem;
    color: #ffffff;
    background: transparent;
    font-weight: bold;
    text-align: center;
}

.countdown-display {
    color: #cb5555;
}