@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --font-family: 'Open Sans';
    --gradient-bg: linear-gradient(180deg, rgba(30, 32, 33, 1) 0%, rgba(68, 44, 102, 1) 65%, rgba(41, 15, 77, 1) 100%);
}